
{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="py-4"></div>
    <section class="section">
        <div class="py-4"></div>
        <div class="container">
            <div class="columns is-multiline is-desktop is-justify-content-center">
                <div class="column is-9-desktop mb-5">
                    <article>
                        <h1 class="h2">{{ data['posts'][0].getPostTitle }}</h1>
                        <ul class="card-meta my-3 list-inline">
                            <li class="list-inline-item">
                                <a class="card-meta-author">
                                    <img src="{{ constant('ASSETS_FRONT') }}images/john-doe.jpg">
                                    <span>{{ data['posts'][0].first_name }} {{ data['posts'][0].last_name }}</span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <i class="ti-calendar"></i>
                                {% if data['posts'][0].getModified is not empty %}
                                {{ data['posts'][0].getModified }}
                                {% else %}
                                {{ data['posts'][0].getCreated }}
                                {% endif %}
                            </li>
                            {% if data['posts'][0].getCategoryId is not empty %}
                            <li class="list-inline-item">
                                <ul class="card-meta-tag list-inline">
                                    <li class="list-inline-item"><a href="{{ constant('HTTP') }}categories/post?cat={{ data['posts'][0].getCategoryId }}">{{ data['posts'][0].category_title }}</a></li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                        <div class="content">
                            {{ data['posts'][0].getPostChapo }}
                            <br>
                            <br>
                            {{ data['posts'][0].getPostText }}
                        </div>
                    </article>

                </div>

                <div class="column is-9-desktop mt-4">
                    <div class="mb-5 border-top mt-4 pt-5">
                        <h3 class="mb-5">Commentaires</h3>

                        {% if data['comments'] is not empty %}
                        {% for comment in data['comments'] %}
                        <div class="block mb-4 pb-4">
                            <a class="is-block mb-5" href="#"><img src="{{ constant('ASSETS_FRONT') }}images/post/user-01.jpg" class="mr-3 rounded-circle" alt=""></a>

                            <a href="#!" class="h4 d-inline-block mb-3">{{ comment.getUserName }}</a>
                            <p>{{ comment.getCommentText }}</p>
                            <span class="text-black-800 mr-3 font-weight-600">{{ comment.getCreated }}</span>
                            <a class="text-primary font-weight-600" href="/repondre">Répondre</a>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p>Il n'y a aucun commentaire pour cet article.</p>
                        {% endif %}

                    </div>
                    {% if data.session.flag == 1  %}
                    {% if data.message is defined  %}
                        <div class="alert alert-success" role="alert">
                        {{ data.message }}
                        </div>
                    {% endif %}
                    <div class="pt-5">
                        <h3 class="mb-5">Laisser un commentaire</h3>
                        <form method="POST">
                            <div class="columns is-multiline">
                                <div class="input-group py-0 column is-12">
                                    <textarea class="input" name="comment_text" columnss="7" placeholder="Je trouve l'article..." required></textarea>
                                    <input hidden="hidden" name="post_id" value="{{ data['posts'][0].getId }}">
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Commenter</button>
                        </form>
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

