<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}{{ constant('SITE') }}{% endblock %} - By Tony Tillet</title>
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="{{ constant('ASSETS_BACK') }}images/favicon.png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="{{ constant('ASSETS_BACK') }}css/style.css" rel="stylesheet">
        <!-- Pignose Calender -->
        <link href="{{ constant('ASSETS_BACK') }}plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
        <!-- Chartist -->
        <link rel="stylesheet" href="{{ constant('ASSETS_BACK') }}plugins/chartist/css/chartist.min.css">
        <link rel="stylesheet" href="{{ constant('ASSETS_BACK') }}plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
        <!--DATA table-->
        <link href="{{ constant('ASSETS_BACK') }}plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">

        <!--sweetalert-->
        <link href="{{ constant('ASSETS_BACK') }}plugins/sweetalert/css/sweetalert.css" rel="stylesheet">

        <link rel="stylesheet" href="{{ constant('ASSETS_BACK') }}style.css"/>

    {% endblock %}
</head>
<body>
        <!--*******************
        Preloader start
    ********************-->
        <div id="preloader">
            <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
                </svg>
            </div>
        </div>
        <!--*******************
            Preloader end
        ********************-->
    <div id="main-wrapper">

        {% block header %}
            <!--**********************************
        Nav header start
    ***********************************-->
            <div class="nav-header">
                <div class="brand-logo">
                    <a href="{{ constant('PANEL') }}">
                        <!--    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                            <span class="logo-compact"><img src="./images/logo-compact.jpg" alt=""></span>-->
                        <span class="brand-title">
                        <img src="{{ constant('ASSETS_BACK') }}images/logo.png" alt="logo">
                    </span>
                    </a>
                </div>
            </div>
            <!--**********************************
                Nav header end
            ***********************************-->

            <!--**********************************
                Header start
            ***********************************-->
            <div class="header">
                <div class="header-content clearfix">

                    <div class="nav-control">
                        <div class="hamburger">
                            <span class="toggle-icon"><i class="icon-menu"></i></span>
                        </div>
                    </div>
                    <div class="header-right">
                        <ul class="clearfix">
                            <li class="icons dropdown">
                                <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                    <span class="activity active"></span>
                                    <img src="{{ constant('ASSETS_BACK') }}images/user/1.png" height="40" width="40" alt="">
                                </div>
                                <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li><a href="{{ constant('HTTP') }}panel/logout"><i class="icon-key"></i> <span>Déconnexion</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--**********************************
                Header end ti-comment-alt
            ***********************************-->

            <!--**********************************
                Sidebar start
            ***********************************-->
            <div class="nk-sidebar">
                <div class="nk-nav-scroll">
                    <ul class="metismenu" id="menu">
                        <li class="nav-label">Dashboard</li>
                        <li>
                            <a href="{{ constant('PANEL') }}dashboard" aria-expanded="false">
                                <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ constant('HTTP') }}" aria-expanded="false">
                                <i class="icon-speedometer menu-icon"></i><span class="nav-text">Voir le site</span>
                            </a>
                        </li>
                        {% if session.user.role == 'admin' %}
                        <li class="nav-label">Blog</li>
                        <li>
                            <a href="{{ constant('PANEL')}}category" aria-expanded="false">
                                <i class="icon-badge menu-icon"></i><span class="nav-text">Catégories</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ constant('PANEL') }}articles" aria-expanded="false">
                                <i class="icon-badge menu-icon"></i><span class="nav-text">Articles</span>
                            </a>
                        </li>
                        <li class="">
                            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                                <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">Commentaires</span>
                            </a>
                            <ul aria-expanded="false">
                                <li> <a href="{{ constant('PANEL') }}comments" aria-expanded="false">
                                        <i class="icon-badge menu-icon"></i><span class="nav-text">En attente de validation</span>
                                    </a>
                                </li>
                                <li><a href="{{ constant('PANEL') }}comments/validate" aria-expanded="false">
                                        <i class="icon-badge menu-icon"></i><span class="nav-text">Validés</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                        <li class="nav-label">Utilisateurs</li>
                        <li>
                            <a href="{{ constant('PANEL') }}mesarticles" aria-expanded="false">
                                <i class="icon-badge menu-icon"></i><span class="nav-text">Modifier mes articles</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ constant('PANEL') }}category/add" aria-expanded="false">
                                <i class="icon-badge menu-icon"></i><span class="nav-text">Ajouter une nouvelle catégorie</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ constant('PANEL') }}articles/add" aria-expanded="false">
                                <i class="icon-badge menu-icon"></i><span class="nav-text">Poster un article</span>
                            </a>
                        </li>
                        <li class="nav-label">Une question ?</li>
                        <li>
                            <a href="{{ constant('PANEL') }}support" aria-expanded="false">
                                <i class="icon-badge menu-icon"></i><span class="nav-text">Support</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ constant('PANEL') }}documentation" aria-expanded="false">
                                <i class="icon-badge menu-icon"></i><span class="nav-text">Documentation</span>
                            </a>
                        </li>
                        {% if session.user.role == 'admin' %}
                        <li class="nav-label">Autres</li>
                        <li>
                            <a href="{{ constant('PANEL') }}globals" aria-expanded="false">
                                <i class="icon-badge menu-icon"></i><span class="nav-text">Informations</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ constant('PANEL') }}inscriptions" aria-expanded="false">
                                <i class="icon-badge menu-icon"></i><span class="nav-text">Demandes d'inscriptions</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!--**********************************
                Sidebar end
            ***********************************-->
        {% endblock %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">{% block content %}{% endblock %}</div>
    </div>
    <!--**********************************
           Content body end
       ***********************************-->
    <div class="footer">
        {% block footer %}
            <div class="copyright">
                <p>Copyright &copy; <a href="https://themeforest.net/user/quixlab">{{ constant('SITE') }}</a></p>
            </div>
        {% endblock %}
    </div>

    {% block scripts %}
        <script src="{{ constant('ASSETS_BACK') }}plugins/common/common.min.js"></script>
        <script src="{{ constant('ASSETS_BACK') }}js/custom.min.js"></script>
        <script src="{{ constant('ASSETS_BACK') }}js/settings.js"></script>
        <script src="{{ constant('ASSETS_BACK') }}js/gleek.js"></script>
        <script src="{{ constant('ASSETS_BACK') }}js/styleSwitcher.js"></script>

        <!-- Chartjs -->
        <script src="{{ constant('ASSETS_BACK') }}plugins/chart.js/Chart.bundle.min.js"></script>
        <!-- Circle progress -->
        <script src="{{ constant('ASSETS_BACK') }}plugins/circle-progress/circle-progress.min.js"></script>
        <!-- Datamap -->
        <script src="{{ constant('ASSETS_BACK') }}plugins/d3v3/index.js"></script>
        <script src="{{ constant('ASSETS_BACK') }}plugins/topojson/topojson.min.js"></script>
        <script src="{{ constant('ASSETS_BACK') }}plugins/datamaps/datamaps.world.min.js"></script>
        <!-- Morrisjs -->
        <script src="{{ constant('ASSETS_BACK') }}plugins/raphael/raphael.min.js"></script>
        <script src="{{ constant('ASSETS_BACK') }}plugins/morris/morris.min.js"></script>
        <!-- Pignose Calender -->
        <script src="{{ constant('ASSETS_BACK') }}plugins/moment/moment.min.js"></script>
        <script src="{{ constant('ASSETS_BACK') }}plugins/pg-calendar/js/pignose.calendar.min.js"></script>
        <!-- ChartistJS -->
        <script src="{{ constant('ASSETS_BACK') }}plugins/chartist/js/chartist.min.js"></script>
        <script src="{{ constant('ASSETS_BACK') }}plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>



        <script src="{{ constant('ASSETS_BACK') }}js/dashboard/dashboard-1.js"></script>

        <script src="{{ constant('ASSETS_BACK') }}plugins/tables/js/jquery.dataTables.min.js"></script>
        <script src="{{ constant('ASSETS_BACK') }}plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
        <script src="{{ constant('ASSETS_BACK') }}plugins/tables/js/datatable-init/datatable-basic.min.js"></script>


        <script src="{{ constant('ASSETS_BACK') }}plugins/sweetalert/js/sweetalert.min.js"></script>
        <script src="{{ constant('ASSETS_BACK') }}plugins/sweetalert/js/sweetalert.init.js"></script>
    {% endblock %}
</body>
</html>
