{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}


{% block content %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-1">
                    <div class="card-body">
                        <h3 class="card-title text-white">Articles</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">{{ data.posts }}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-2">
                    <div class="card-body">
                        <h3 class="card-title text-white">Catégories</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">{{ data.categories }}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-3">
                    <div class="card-body">
                        <h3 class="card-title text-white">Commentaires</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">{{ data.comments }}</h2>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-4">
                    <div class="card-body">
                        <h3 class="card-title text-white">Utilisateurs</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">{{ data.users }}</h2>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
