{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Informations:</h4>
                        <div class="basic-form">
                            <form>
                                    {% for global in globals %}
                                        {% if global.getName() == 'email' %}
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Email</label>
                                                <input type="email" class="form-control" placeholder="{{ global.getValue() }}" name="global-email">
                                            </div>
                                        </div>
                                        {% elseif global.getName() == 'phone' %}
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>Téléphone</label>
                                                    <input type="tel" class="form-control" placeholder="{{ global.getValue() }}" name="global-phone">
                                                </div>
                                            </div>
                                        {% elseif global.getName() == 'github' %}
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>Github:</label>
                                                    <input type="text" class="form-control" placeholder="{{ global.getValue() }}" name="global-github">
                                                </div>
                                            </div>
                                        {% elseif global.getName() == 'portfolio' %}
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>Portfolio:</label>
                                                    <input type="text" class="form-control" placeholder="{{ global.getValue() }}" name="global-portfolio">
                                                </div>
                                            </div>
                                        {% elseif global.getName() == 'g-maps' %}
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label>Iframe Google Maps:</label>
                                                    <textarea class="form-control h-150px" rows="6" id="g-maps" placeholder="{{ global.getValue() }}" name="global-g-maps"></textarea>
                                                </div>
                                            </div>
                                        {% elseif global.getName() == 'g-analytics' %}
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label>Google Analytics:</label>
                                                    <textarea class="form-control h-150px" rows="6" id="g-analytics" placeholder="{{ global.getValue() }}" name="global-g-analytics"></textarea>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}

