{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Informations:</h4>
                        <div class="basic-form">
                            <form>
                                    {% for global in globals %}
                                        {% if global.getName() == 'email' %}
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Email</label>
                                                <input type="email" class="form-control" value="{{ global.getValue() }}" name="global-email">
                                            </div>
                                        </div>
                                        {% elseif global.getName() == 'phone' %}
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>Téléphone</label>
                                                    <input type="tel" class="form-control" value="{{ global.getValue() }}" name="global-phone">
                                                </div>
                                            </div>
                                        {% elseif global.getName() == 'github' %}
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>Github:</label>
                                                    <input type="text" class="form-control" value="{{ global.getValue() }}" name="global-github">
                                                </div>
                                            </div>
                                        {% elseif global.getName() == 'portfolio' %}
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>Portfolio:</label>
                                                    <input type="text" class="form-control" value="{{ global.getValue() }}" name="global-portfolio">
                                                </div>
                                            </div>
                                        {% elseif global.getName() == 'linkedin' %}
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>Linkedin:</label>
                                                    <input type="text" class="form-control" value="{{ global.getValue() }}" name="global-portfolio">
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <button type="submit" class="btn btn-dark">Modifier</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}

